# Exemplo de arquivo de configuração do banco de dados
# Renomeie para db.properties e preencha com seus dados reais

db.url=jdbc:mysql://localhost:3306/crud_veiculos?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
db.user=SEU_USUARIO
db.password=SUA_SENHA